<!doctype html>
<html lang="en">
{% include 'gitsinfoapp/header.html' %}


	<div class="div-center">
		
		<form action="/" method="get">
		  <input  type="submit" class="btn btn-info" value="Go to the main page">
		</form>

	</div>
	<table class="table table-hover custom-table">
		<thead>
		    <tr>
		        <th>Repository</th>
			<th>Periodic Scan</th>
			<th>History</th>
		    </tr>
		</thead>
		<tbody>	
		{% for repo in repositories %}
		<tr>
		<td> {{repo.name}} </td>
		<td> <ul class="left">{{repo.periodicscan}}</ul> <form class="left" action="/changeattr/" method="post">{% csrf_token %}<input type="submit" class="btn-sm btn-info" value="change"><input type="hidden" value="{{repo.id}}" id="repo" name="repo"></form></td>
		<td> <a href='/history?repo={{repo.name}}' /a>Check history</td>
		</tr>
		{% endfor %}
		<tbody>
	</table>	
	{% if history %}
            <table class="table table-hover custom-table">
		<thead>
		    <tr>
		        <th>Finding</th>
			<th>Date of finding</th>
			<th>Solved</th>
		    </tr>
		</thead>
		<tbody>
	    	{% for hist in history %}
		<tr>
		<td>{{hist.0}}</td>
		<td>{{hist.1}}</td>
		{% if hist.2 == True %}
		<td class = "solved">{{hist.2}}</td>
		{% else %}
		<td class = "notsolved"> {{hist.2}} </td>
		{%endif%}
		</tr>		
		{% endfor %}
		</tbody>
	    </table>

	{% endif %}
</html>
